.app {
  width: 100vw;
  min-height: 100vh;
  overflow-y: scroll;
  margin: 0 auto;
}
.app__header {
  width: 100%;
  height: 20rem;
  background-color: #bccedf;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search__container {
  width: 70%;
  height: 2rem;
  display: flex;
  padding: 0.5rem;
  border-radius: 7px;
  background-color: #ffffff;
}
.search__image__container {
  width: 2rem;
  height: 100%;
}
.search__image {
  height: 100%;
  width: 100%;
}
.search__input {
  color: #5d5d5d;
  font-size: 1.2rem;
  font-weight: bold;
  width: calc(100% - 2rem);
  height: 100%;
  padding: 0 0.5rem;
  border: none;
  outline: none;
}
.images__container {
  width: 100%;
  height: 50vh;
  position: relative;
}
.images__wrapper {
  width: 55%;
  min-height: 100vh;
  margin: auto;
  margin-top: -70px;
  -webkit-column-count: 3;
  -moz-column-count:    3;
  column-count:         3;
  -moz-column-gap:      32px;
  -webkit-column-gap:   32px;
  column-gap:           32px;
}
.loader {
  background: #f8f8f8;
  margin-bottom: 32px;
  display: flex;
  padding: 24px;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  width: 100%;
  height: auto;
  border-radius: 7px;
}
.loader p,.loader b {
  height: 10px;
  background: #ccc;
} 
.loader p {
  width: 100px;
}
.loader b {
  width: 70px;
}
.image__card {
  margin-bottom: 32px;
  width: 100% !important;
  height: auto;
  border-radius: 7px;
  position: relative;
  overflow: hidden;
}
.image__modal {
  width: 32%;
  height: auto;
  border-radius: 7px;
  position: relative;
  overflow: hidden;
}
.photo {
  width: 100%;
  min-height: auto;
  object-fit: cover;
  cursor: pointer;
}
.details,
.modal__card__details {
  padding-left: 2rem;
  padding-bottom: 1.5rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: transparent;
}
.modal__card__details {
  height: 3rem;
  background-color: #ffffff;
}
.name,
.location {
  color: #dfd5d5;
  text-transform: capitalize;
  font-weight: normal;
  margin: 0.3rem 0;
}
.name__modal {
  color: #000000;
}
.location__modal {
  color: gray;
}
.modal_container {
  display: flex;
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 2000;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
}
.cancel__button {
  color: #d8d7d7;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: bold;
  position: absolute;
  z-index: 3;
  right: 3rem;
  top: 3rem;
}
